body {
	background-image: url(../img/sand.jpeg);
}

.silver-text {
	color: #888888;
}
.bg-clip-text {
	color: transparent;
	/*text-shadow: 1px 1px 16px rgb(164 158 148 / 65%);*/
	background-image: url(../img/silver.jpg);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.how-it-works {
	max-width: 500px;
	margin: auto;
}
.how-it-works .picture-box {
  background-image: url(../img/gif4.gif);
  background-position: center;
  border-top-right-radius: 0;
}

h2 {
	margin: 90px 10% 30px;
    font-size: 2.2rem;
    letter-spacing: 2;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
}

@media screen and (max-width: 600px) {
	.main {
		min-height: 600px;
	}
	h2 {
		margin: 60px 5% 40px;
	}
}